/* COLOR VARIABLES */
:root {
    --color-primary: rgb(23, 38, 37);
    --color-secondary: rgb(30, 21, 21);
    --color-font: rgb(191, 191, 210);

    --color-on: rgb(56, 162, 56);
    --color-off: rgb(198, 213, 209);

    --color-grey: rgb(88, 78, 78);
}

/* GENERIC STYLES */
body {
    background-color: var(--color-primary);
    color: var(--color-font);
    margin: 0;
}

fieldset {
    border-radius: 10px;
    border: 5px solid var(--color-font);
    font-weight: bold;
    margin: 16px;
    max-width: 250px;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}